<!DOCTYPE HTML>
  <html>
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
      <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
      <title></title>
      <link rel="stylesheet" type="text/css" href="css/aui.2.0.css" />
  </head>
  <style>
  body{
    font-family:STXihei;
    background-color:#fff;
  }
  #side{
   width:105px;
   background-color:#efefef;
   float:left;
   color:#666666
 }
 .sideTittle{
   height:60px;
   border-bottom:1px dashed #fff;
   font-size:10px;
   line-height:60px;
   text-align:center;
 }
 .sideChange{
   background-color:#fff;
   border-left:5px solid yellow;
   color:#565656
 }
 #title2{
  height:30px;
  background-color:#e7e7e7;
  display:inline;
  float:left;
  text-align:center;
  font-size:14px;
  line-height:30px;
  color:#6f6f6f
 }
 #textBody{
   display:inline;
   float:left;
   overflow: scroll;
   font-size:11px;
   height: 100px;
 }
  p {
      text-indent:2em;
      margin-bottom: 5px;
      font-size:12px;
   }
   #baodaoImg{
     position: fixed;
     top:150px;
     background-color: #f5f5f5;
   }
  </style>
  <body>
    <div id="newStu">
       <header class="aui-bar aui-bar-nav">
          <a class="aui-pull-left aui-btn">
         <span class="aui-iconfont aui-icon-left" @click='btnBack'></span>
          </a>
        <div class="aui-title">{{title}}</div>
        </header>

        <div id="side">
         <div class="sideTittle" v-for="(item,index) in tabs" :class="{'sideChange':shu==index}"
              v-on:click="classActive(index)">{{item.name}}</div>
        </div>
        <div id="title2">{{title2}}</div>
        <div id="textBody">
           <div v-show="show1">
               <p>十年寒窗苦，终得梅花香！在收获人生第一束劳动果实的时候，你们将来到一个无限温
                 暖的大家庭——淮海工学院，在这里开始大学的学习生活，请接受淮海工学院全体师生热切的问候和衷心的祝福
               </p>
               <p>同学们，新的生活意味着新的挑战和新的竞争。面对生活环境的变化，对于缺乏独立生活能力的学生将是严峻的考验，
                 需要你们从新的视角去认识、去学习。我们提出四点建议，希望你能认真领会，付诸实践，这将会帮助你尽早适应大学生活
                 、享受大学生活，掌握大学生活的主动权!
               </p>
               <p>一是要学会适应，找准位置。</P>
               <p>要在理性和认识之间找到平衡，即在理想和现实中找到自己的位置，要分辨出自己不适应的类型，要善于在总体处于劣势的情况
                 下找到局部的优势，要善于在取长补短中找到自己新的起点和位置；
               </P>
               <p>
                 大学里没有绝对的尖子，只有朝着自己的目标奋力进取的学子，要修身养性，学会与人相处。做到：理解是金，忍让是福，宽容最美，安慰自己，懂得自省，一吐为快，幽默结缘。
               </P>
               <p>
                 二是要热爱专业，刻苦学习。
               </P>
               <p>
                 大学的学习任务依然会很繁重，要抵制各种不良诱惑，不要迷失方向，为眼前的蝇头小利牺牲大量的时间和精力；
               </P>
               <p>
                 正确认识大学学习的特点是要更加积极主动，学会自学是大学生活很重要的一个方面，追求心智成熟感和自我实现是你们面临的课题；从自己实际出发，摸索与自己水平、基础相适应的学习方法；
                 学会合理筹划，实现时间运用的最优化，自觉养成预习、复习的习惯，学会抓住学习中的难点和重点，学会利用图书馆学习，特别在学习中，注意培养最佳的思维能力。
               </P>
               <p>
                 现在的大学，已经不仅仅是学习知识的地方，更是一个学生提升自我、增长智慧的场所。步入大学，不要因不喜欢所学的专业而放弃努力学习，应该要把专业作为培养各种能力的载体，而能力才能帮助每个人取得职业生涯的良好发展。
               </P>
               <p>
                 三是要遵章守纪，自律自强。
               </P>
               <p>
                 国有国法，家有家规，没有规矩不成方圆。我们学校每年编印《学生手册》，收录了各项学生规章制度，你们进校后人手一册，希望你们能认真学习和自觉遵守。
               </P>
               <p>
                 严格遵守校规校纪是青年学生自身素质与品格的外在表现。一个懂得规则，学会适应规则的人，是成熟和社会化程度高的表现；如果一个人目无法纪，不守规则，缺乏正义，他将寸步难行。请你记住：你什么都可以挑战，就是不可以挑战规则！
               </P>
               <p>
                 四是要升华理想，提升目标。
               </P>
               <p>
                 在人生征途上，实现一个奋斗目标后，需要及时确定下一个奋斗目标。进入大学，专业方向已定，可以把美好理想与所学专业结合起来，坚持社会需要与自我条件相统一，选择自己恰当的位置，确定自身的奋斗方向。
               </P>
               <p>
                 新目标是促成自身发展的源动力。为了实现目标，我们应扫清前进道路上各种障碍，同时还应养成一种坚定的信念，坚定不移地向自己的目标努力奋斗，不能随便放弃，更不能在自己的目标面前摇摆不定。
               </P>
               <p>
                 乘风破浪会有时，直挂云帆济沧海！
               </P>
               <p>
                 亲爱的同学，请千万不要相信中学时常有人说的一句话：中学多吃一点苦，考上大学就轻松了！实际上上大学并不轻松，上大学人生才真正起航！
               </P>
               <p>
                 请千万不要把大学想象成是神圣的天堂！实际上大学可能不是你想象中那么美好，大学只是提供给你一个成长成才的平台！
               </P>
               <p>
                 请千万不要以为考上了大学就进入了保险箱！实际上大学生就业形势依然严峻，只有脚踏实地，努力拼搏，才能真正成为社会所欢迎的人才！
               </P>
               <p>
                 淮海工学院师生真诚期待着你的到来，希望你在淮海工学院起步，在淮海工学院成长！在充满机遇和挑战的大学之路上，用青春的激情和智慧，点燃心中的理想，谱写出你人生中精彩的一页！
               </P>
               <p>
                 同学们，你准备好了吗？
               </P>
           </div>
           <div v-show="show2">
               <span style="font-weight:bold;font-size:14px">各位同学:</span>
               <p>
                 热烈欢迎你到淮海工学院学习、生活！入学报到前请注意以下事项：
               </p>
               <p>
                 一、今年我校本科新生统一使用网上自助报到系统，系统于8月15号开通，请你务必于8月25日前登录淮海工学院迎新服
                 网（http://yx.hhit.edu.cn，或点击淮海工学院主网页http://www.hhit.edu.cn上的移动窗口）依次完成相关手续。（具体见《淮海工学院新生自助报到系统操作说明》）
               </p>
               <p>
                 二、报到时间：2016年9月3日，请携带录取通知书按时到校报到。因故不能按期入学者，应电话告知并书面
                 （附原学校或所在街道、乡镇证明）向学校请假，假期一般不得超过两周。未经请假或请假逾期未报到的，以旷课处理；超过两周不报到者，取消入学资格。
               </p>
               <p>
                 三、户口迁移办法：
               </p>
               <p>
                 1、连云港市（各县、区）学生，入学时一律不办理户口迁移手续，其他学生根据本人意愿，可以不办理户口迁移手续。自入学至毕业，中途不得申请户口
                 迁入、迁出。
               </p>
               <p>
                 2、若办理户口迁移，户口迁移证上的姓名、身份证号码等个人信息必须与录取审批表上的完全一致，如有问题要及时与户口所在地派出所联系更正，否则不予落户。请你在报到时及时把户口迁移证交到所在学院，由学院统一交保卫处办理相关手续。
               </p>
               <p>
                 3、户口迁移证的有效期一般是一个月。不得把户口迁移证滞留手中，过期将无法办理落户手续。
               </p>
               <p>
                 四、党、团员应带党、团组织关系。党组织关系应由县级以上党委组织部介绍，经中共连云港市委组织部转至淮海工学院党委组织部；团组织关系由基层团委直接转至淮海工学院团委。
               </p>
               <p>
                 五、来校报到时，需准备免冠正面一寸彩色照片4张备用。
               </p>
               <p>
                 六、凭录取通知书，到原学校领取档案，档案内需有盖上原学校教务部门印章的原始成绩单或带有成绩的学籍表，要求档案必须封口，加盖学校公章，报到时随其它材料一并上交班主任。
               </p>
               <p>
                 七、来校路费自理，乘火车来校的学生，可持录取通知书购买半价车票。
               </p>
               <p>
                 八、公寓用品：可自行携带，也可以入学时到学校购买。
               </p>
               <p>
                 九、入学第一周将举行英语入学分级考试，并根据考试成绩分级编班，你可利用暑期时间做好准备。（具体见《大学英语分级教学实施办法》）
               </p>
               <p>
                 十、乘车路线：可乘车至连云港火车东站、苏欣快客站、新浦汽车总站下车。9月3日我校在连云港火车东站、苏欣快客站安排有新生接待车。
               </p>
               <p>
                 十一、报到地点：土木与港海工程学院建筑学专业、电子工程学院、化学工程学院、海洋生命与水产学院、计算机工程学院、测绘与海洋信息学院、体育学院、药学院新生进入苍梧校区就读，
                 文学院、法学院、商学院、外国语学院、艺术学院、机械学院、理学院、土木与港海工程学院（除建筑学专业外）新生进入通灌校区就读。
               </p>
               <p>
                 苍梧校区地址：江苏省连云港市苍梧路59号，邮编：222005。
               </p>
               <p>
                 通灌校区地址：江苏省连云港市通灌南路108号，邮编：222001。
               </p>
               <p>
                 十二、联系电话：0518-85895133   85895134   85895139
               </p>
           </div>
           <div v-show="show3">
              <p>
                为方便大家顺利缴费、及时办理入学手续，现将我校有关缴费事项说明如下：
              </p>
              <p style="font-weight:bold">
                一、缴费标准：
              </p>
              <div>
                <img src="images/jiaofei.png" style="width:100%">
              </div>
              <p>
                1、学校实行学分制收费制度，学年初按所学专业学年学费预收，学年末根据学生的专业学费和实际所修课程学分学费的总额按实结算。学费标准详见附表《淮海工学院专业及学费标准》。
              </p>
              <p>
                2、住宿费按最高标准1350元/年预存，最终根据学校统一安排的宿舍实际情况收取。
              </p>
              <p>
                3、教材费按650元预收，根据实际领用情况学期末结算，多退少补。
              </p>
              <p style="font-weight:bold">
                二、缴费方式：
              </p>
              <p>
                1、银行代扣
              </p>
              <p>
                请务必于入学报到日十天前（即8月25日前）将上述所有缴费项目合计足额存入随《录取通知书》一同寄发的中国农业银行金穗借记卡内（生源地贷款学生可减去贷款金额后足额存入）。首次缴费由学校委托中国农业银行统一批扣收取
                ，学生在二级学院报到现场领取《学生收费收据》，凭收据办理入校手续。请填写一份银行授权书，连同身份证复印件（含正反面）入学报到时上交给二级学院。
              </p>
              <p>
                2、现场缴费
              </p>
              <p>
                如没有收到学校邮寄的借记卡或其因他原因无法提前完成缴费，请将应缴的费用存入其他银行卡中，报到时刷卡缴费。
              </p>
              <p>
                3、助学贷款
              </p>
              <p>
                家庭经济困难者，可根据本省（市）生源地信用助学贷款政策，凭《录取通知书》到当地县区教育局办理生源地信用助学贷款，详见各省（市）《生源地信用助学贷款实施办法》。取得助学贷款后需将款项汇至：
              </p>
              <p>
                收款户名：淮海工学院 &nbsp;&nbsp;&nbsp;&nbsp;账&nbsp;&nbsp;号：10440301040008591
              </p>
              <p>
                开户银行：中国农业银行连云港苍梧支行   行  号：103307044034
              </p>
              <p>
                请务必在附言栏注明学生本人姓名和录取专业，便于学校核对缴费。
              </p>
              <p style="font-weight:bold">
                三、咨询电话：
              </p>
              <p>
                学校财务处收费管理科：0518-85895095
              </p>
              <p style="font-weight:bold">
                四、其他费用说明：
              </p>
              <p>
                1．商业保险费：每人每年暂定25元，四年共100元（五年共125元），由保险公司在新生报到时按招标价一次  性收取。愿意参加保险的，在网上自助报到系统中确认选购后，入学时到现场缴费。
              </p>
              <p>
                该保险可以报销部分医保外的自费费用，请阅读相关保险说明，建议同学购买。
              </p>
              <p>
                2．公寓用品费用：新生公寓用品由学校招标确定供应商，按成套公寓用品在学校销售，新生在自助报到系统中确认购买后，入学时到现场缴费领取（招标价为每套500元）。
              </p>
              <p>
                注：（1）成套公寓用品包括：棉胎2条、垫胎1条、垫罩1条、被套（全棉）2条、床单（全棉）2条、蚊帐1顶、枕芯1只、枕套（全棉）2件、枕巾（全棉）2条、包装袋1个。
              </p>
              <p>
                （2）学校准入销售的公寓用品是经过严格质量检验合格的产品，质量有保证，价格较优惠。凡自己携带的公寓用品学校不便统一洗涤。因此，建议新生最好购买统一公寓用品。
              </p>
           </div>
           <div v-show="show4">
             <img src="images/baodao.png" style="width:100%" @click="showImg">
             <span style="font-size:14px;font-weight:bold">导航链接：</span>
             <div class="aui-btn aui-btn-primary" v-for="(item,index) in baodaos" style="display:block;margin-bottom:5px" v-on:click="linkMap(index)">{{item.name}}</div>
           </div>
           <div v-show="show5">
             <p style="font-weight:bold">
               一、新生体检收费及项目
             </p>
             <p>
               1、新生体检收费：
             </p>
             <p>
               江苏省教育厅、江苏省物价局、江苏省财政厅于2005年7月4日联合下发《关于高等学校收费有关问题的通知》。内容要求：学校按规定对入学新生组织体格检查的，可收取体检费，具体收费标准可参照《省物价局、省财政厅、省卫生厅关于印发
               〈江苏省相关行业人员健康检查收费管理办法（试行）〉的通知》（苏价费〔2004〕441号）规定执行，每生不超过20元。根据通知精神，我校每生收取20元体检费。
             </p>
             <p>
               2、新生体检项目：
             </p>
             <p>
               内科、外科、肝功能（谷丙转氨酶）、胸部X光透视、血压。
             </p>
             <p style="font-weight:bold">
               二、新生体检地点
             </p>
             <p>
               新生体检地点分别在各校区指定地点体检点进行（苍梧校区体检点：校卫生科，通灌校区体检点：体育馆）。
             </p>
             <p style="font-weight:bold">
               三、新生体检方法及时间
             </p>
             <p>
               1、新生体检采取一边报到一边体检的方法，具体事项由卫生科与各学院学工办联系；
             </p>
             <p>
               2、报到时从各学院领取体检表及化验单，用碳素笔或黑色笔填写好体检表首页及化验单前部应填写部分；
             </p>
             <p>
               3、凭体检表由各学院安排到各校区指定体检点进行各项体检；
             </p>
             <p>
               4、报到的次日早晨<span style="color:red;">06:00空腹</span>，凭化验单再到各校区指定体检点抽血检查肝功能（谷丙转氨酶）。
             </p>
           </div>
           <div v-show="show6">
             <p style="font-weight:bold">
               1、交通安全——提高警惕，不贪便宜，不轻信陌生人
             </p>
             <p>
               外出乘车要在车站购票上车，不要贪图便宜站外上车；不要搭乘非正规出租车，留意乘车号牌；贵重物品不要脱离视线，
               随时防止飞车抢夺和扒手；需要在外就宿的，勿贪图便宜入住无保障场所；行李包裹不能交给陌生人保管；行走时特别是过马路时不要边走边看手机。遇到对己不利情况时应设法躲避，并报110求助。
             </p>
             <p style="font-weight:bold">
               2、宿舍安全——防火、防盗、防陌生人，时刻保持警惕
             </p>
             <p>
               不要私拉乱接电线、网线，不使用电炉、热得快等违章电器，不将易燃易爆物品带进宿舍，不使用明火，不抽烟，室内无人
               时应关掉电源。不得在宿舍从事经营活动。平时要养成随手关窗、关电、锁门的习惯，晚上睡觉不要将贵重物品、衣物放于窗口处；留意陌生人，不留宿外来人员，杜绝夜不归宿，严禁在校外租房。
             </p>
             <p style="font-weight:bold">
               3、物品安全——爱护你的物品，不要让它走失
             </p>
             <p>
               保管好自己的手提包、钥匙、手机、手提电脑等个人重要物品。在体育场、教室、
               食堂等公共场所活动、学习时要将贵重物品随身携带或交给熟人保管，切忌随手放置。如有贵重物品，可租用学校物业公司提供的保险箱。
             </p>
             <p style="font-weight:bold">
               4、银行卡安全——卡不外借，保管好密码
             </p>
             <p>
               存折、银行卡要加密，密码不宜用出生日期、学号、电话号码等，不与身份证、学生证等证件共放，在ATM机上操作时应避免夜
               暗情况，当遇到银行卡被吞，热心人帮忙以及提示号码时，千万别上当，应及时与该行客服热线联系。一旦丢失要及时挂失，必要时立即报警。
             </p>
             <p style="font-weight:bold">
               5、网络安全——不沉迷网络游戏，健康使用网络
             </p>
             <p>
               不去网吧，不沉迷网络游戏，不浏览色情信息，慎交网上朋友，不泄露个人信息，更不要随便答应网友外出或邀请网友来
               校见面；你在网上购物或使用网上银行时，请不要在网吧等公共上网场所进行操作，谨防
               “钓鱼”网站，勿贪小便宜、轻信“中奖”；小心谨慎，不打开手机或者QQ发来的陌生信息和链接。健康使用网络，不传播和轻信反动言论。
             </p>
             <p style="font-weight:bold">
               6、防诈骗——莫贪小利，不购买推销物品，不轻信花言巧语
             </p>
             <p>
               不贪图便宜购买上门推销的任何物品，不在校园内购买流动兜售的物品和食品，不要相信短信、广告、兼职、代理信
               息中看似“天上掉馅饼”的信息。不轻易接受别人的馈赠和邀请。要远离传销等非法组织和邪教。不要将身份证外借，不泄露个人信息给陌生人。
             </p>
             <p>
               发现可疑情况请及时报警，同时报告学校保卫处（保卫处报警电话：苍梧校区85895110、85895165，通灌校区85585110）。
             </p>
           </div>
           <div v-show="show7">
              <p>
                一、热情帮忙，拎走行李一去不回。骗子“欺负”新生人生地不熟，在车站、学校门口冒充新生接待人员，“热情”地帮忙看管皮箱等物品，再“调虎离山”，借机偷走行李。
              </p>
              <p>
                防范措施：当陌生人对你过分热情时应保持警惕，物品不要轻易离身，以免上当受骗。
              </p>
              <p>
                ※友情提示：我校迎新工作人员都会佩戴专用迎新工作证，在车站会设有淮海工学院新生接待站，有专用接送车辆
              </p>
              <p>
                二、替交学费等，拿走钱后不知去向。骗子以学校迎新人员的身份与学生、家长搭讪，取得信任后，以代交费、前往银行取钱为由乘机诈骗。
              </p>
              <p>
                防范措施：新生在报到时不要将钱物交给陌生人，报名交费务必亲自办理或交由家长办理。
              </p>
              <p>
                ※有情提示：我校迎新工作人员不会为新生代交任何费用。
              </p>
              <p>
                三、冒充老乡，谈笑间盗取钱物。刚入学时，新生相互不认识，骗子正是利用这一点，装扮成新生或者老乡和学生套近乎，
                以骗取信任，并乘机盗走学生财物。还有的以找老乡为名进入学生公寓后专门寻找未锁门的无人寝室行窃，或在寝室学生熟睡时行窃。
              </p>
              <p>
                防范措施：对陌生人要想办法确认其身份，另外，离开宿舍时新生应将贵重物品随身带走，或者锁上存放起来。
              </p>
              <p>
                ※友情提示：每年新生入学后寻找老乡的现象比较普遍，绝大部分都是真实的，但一定要警惕假借找老乡为名的骗子趁隙而入。
              </p>
              <p>
                四、假冒师长，光天化日行诈骗。假冒老师或学生干部，直接进入宿舍向新生收取班费、材料费等费用。
              </p>
              <p>
                防范措施：遇到此类事情要及时向老师、班主任或学生干部核实求证。
              </p>
              <p>
                ※友情提示：老师或学生干部不会直接进入宿舍收费的。
              </p>
              <p>
                五、宿舍推销假冒伪劣产品。上宿舍推销是新生经常遇到的骗局。骗子所推销物品多与新生的学习生活息息相关，此类产品多为假冒伪劣产品，尤其是廉价手机、电脑等电子产品，无售后保障。
              </p>
              <p>
                防范措施：花言巧语不要轻信，不贪便宜。
              </p>
              <p>
                ※友情提示：上门推销的商品质量不能保证，请拒绝。特别强调，如不需购买学校统一发放的床上用品，一定要到正规商家购买，校园周边和校内出现的小商贩所贩卖的多是滋生细菌的垃圾棉。
              </p>
              <p>
                六、莫贪小利，警惕商家霸王消费。留意各种诱导新生消费的陷阱。比如美容产品试用、办各种会员卡等，以小利作诱饵。
              </p>
              <p>
                防范措施：不要贪图眼前小利而进入消费陷阱，要能保持消费的自制力和明辨是非能力。
              </p>
              <p>
                ※友情提示：加强防范消费陷阱，此外还应在购物时防范小偷偷窃。
              </p>
              <p>
                七、高度警戒，远离非法传销。传销已经为法律明令禁止，但新的传销手段却经常以各种形式掩人耳目地渗入校园中，如果有人告诉你他在哪里卖东西
                ，很赚钱，不要轻易相信，传销很多都是熟人间相骗。一旦被传销组织骗去，很难脱身，更有的会在传销组织洗脑般说教中失去最基本的理智，甚至放弃学业抑或选择自杀。
              </p>
              <p>
                防范措施：当有疑似传销事件发生，千万不要轻易相信，不要心存侥幸，应及时向学校或公安机关举报。
              </p>
              <p>
                ※友情提示：一般向学生宣传出售一些名不见经传的东西很大程度上是传销的伪装类型，学生不要轻易相信，谨防上当。
              </p>
              <p>
                八、电话、网络诈骗，骗取个人隐私及财物。诈骗电话一般以资助新生学费、生活费等为由，骗取银行卡密码。还有的打电话自称是教育部或校方，以返还学费等为名
                ，让学生提供卡号、密码。网络诈骗有三类：一是打馅饼牌，中了大奖，可以得到一大笔资金，或者可以低价购买商
                品，等等；二是打感情牌，说国外钻石王老五静待佳人，网络美女和你约会，某地遭灾需要捐款，等等；三是打亲情牌，说你家亲戚被绑架，出车祸，朋友出差被偷钱包，等等。
              </p>
              <p>
                防范措施：对自己的隐私要严格保密，遇到此类事件要先向有关机构电话求证，不汇款不转账，遇到欺诈行为要及时向公安机关举报。
              </p>
              <p>
                ※友情提示：任何官方机构都不会向你索要各类密码。
              </p>
              <p>
                九、编造谎言，蒙骗家长急需汇钱。骗子所掌握的学生家庭电话号码，大多数从网上校友录、QQ群中获取，其次是当事学生不小心将电话告诉了陌生人，骗子冒充学校老师或同学给家长打电话谎称孩子生病或出车祸急需汇钱。
              </p>
              <p>
                防范措施：家长如果接到此类电话，应先与孩子本人、辅导员、班主任或保卫部门联系，核实真假，切勿慌乱。
              </p>
              <p>
                ※友情提示：学校不会第一时间要家长汇钱的。
              </p>
              <p>
                十、虚假承诺，谨防落入中介陷阱。有些同学家庭条件可能不太好，希望可以打工缓解家庭经济压力，有些中介机构会利用学生单纯或者廉价劳动力，骗取学生信任，从中获利。
              </p>
              <p>
                防范措施：一定要谨慎对待各种所谓家教中介或者工作介绍中心。
              </p>
              <p>
                ※友情提示：新生入学应先适应大学学习生活，不要盲目寻找各类兼职工作。
              </p>
              <p>
                十一、巧语伪装，借找家教之名行骗。骗子冒充学生家长或学校老师，以找家教或招兼职为名联系学生，有的被骗去从事非法活动，有的要求学生做替考枪手，有的学
                生被骗走手机、银行卡等财物，还有的学生被拉到酒楼吃饭，骗子提前开溜把学生留下买单，甚至骗子在溜走之前还会在吧台点很多的名烟名酒带走，更严重的还可能遭遇暴力侵害。
              </p>
              <p>
                防骗措施：不轻易出借手机，不轻信陌生人，不轻易接受不熟悉的人请客吃饭。特别提醒女生，应聘家教或课外兼职工作，不要独自一人前往
              </p>
              <p>
                ※友情提示：遇到此类事件，应提前告知辅导员老师，如果接受陌生人邀请做家教工作，要先确认对方真实有效的身份及联系方式，要先与同学结伴考察无安全隐患后方可答应。
              </p>
              <p>
                十二、假装可怜，同情心换来财物损失。骗子假装陌生人问路，并拿出学生证说自己是某某学校（例如香港、澳门的高校）的到这里来找同学，说自己在火车上被偷了，希望
                借用学生的银行卡让家里帮助汇钱，结果在使用的过程中骗子很快就把学生卡里的钱转走了。还有利用新生的同情心直接要钱的，并以互留联系方式为名承诺会还钱，但事后却一走了之，无法再联系上。
              </p>
              <p>
                防范措施：在有必要的同情心的同时，也要提高安全意识，不要让外人使用自己的银行卡或身份证件。
              </p>
              <div style="font-size:16px;color:red;text-align:center">校园安全提示</div>
              <p>
                1．校园安全。大学是一个比较开放的学习场所，经常有一些车辆出入和人员流动，新生初到学校，一定要时刻注意身边安全。
              </p>
              <p>
                2．宿舍安全。宿舍是学生在学校的一个“家”，希望大家互亲互爱，搞好内部团结，让不法分子无机可乘。凡是带贵重钱财和物品的同学，一定要注意安全。
              </p>
              <p>
                3．教室安全。大学上课的教室不像高中有一个固定的教室，上课的教室会经常变换，新生同学一定要注意物品安全，离开教室要带走物品，课间休息时一定要将贵重物品带在身上。
              </p>
              <p>
                4．图书馆安全。大学图书馆是大学生非常重要的第二课堂，上大学期间有一大部分时间都是在图书馆度过的。新生同学在图书馆查阅资料时，不要将贵重物品随手放在座位上，一定要带在身边。
              </p>
              <p>
                5. 体育场馆安全。大学生喜欢运动，随身携带手机等贵重物品，运动时会放在运动场周围，不要让物品离开你的视线，运动结束后一定不要忘记带走。
              </p>
              <p>
                6．饮食安全。不吃路边小摊食品，不到无食品经营许可证的小饭店就餐，不吃推销的快餐。
              </p>
              <p>
                7．自行车、电瓶车和摩托车安全。自行车要停放到指定地点，勿到处乱放，停车要落锁。电瓶车需要经常充电，比较麻烦，而且电瓶车和摩托车速度快，校园学生多
                且时间和地点都比较集中，容易发生事故，请学生不要使用电瓶车和摩托车，家长请给予配合，不给学生购买。
              </p>
           </div>
        </div>

        <div id="baodaoImg" v-show="baoDimg">
          <div><i class="aui-iconfont aui-icon-close" style="float:right;font-size:20px;margin-right:10px;" @click='closeImg'></i></div>
          <img src="images/baodao.png" style="width:100%">
        </div>
    </div>
  </body>
  <script type="text/javascript" src="js/vue.js"></script>

  <script type="text/javascript">


    new Vue({
      el: '#newStu',
      data () {
        return {
           title:"新生报到",
           shu: 0,
           show1:1,
           show2:0,
           show3:0,
           show4:0,
           show5:0,
           show6:0,
           show7:0,
           baoDimg:0,
           tabs:
           [
             {name: '致新生的一封信',},
             {name: '新生入学须知',},
             {name: '新生缴费说明',},
             {name: '新生报到流程图',},
             {name: '新生体检须知',},
             {name: '新生入学安全须知',},
             {name: '新生入学防骗指南',},
           ],
           title2:'致新生的一封信',
           baodaos:
           [
             {name: '苍梧校区接待点',link:'cangwujiedai.html'},
             {name: '通灌校区接待点',link:'tongguanjiedai.html'},
             {name: '财务处',link:'caiwuchu.html'},
             {name: '学生事物服务中心',link:'fuwuZX.html'},
             {name: '苍梧校卫生科',link:'cangwuWS.html'},
             {name: '通灌体育馆',link:'tongguanTYG.html'},
           ],
        }
      },
      methods: {
         btnBack:function () {
           location.replace('school.html')
         },
         classActive: function (shu) {
           this.shu = shu;
           this.isShow = true;
           this.title2=this.tabs[shu].name;
           switch(shu)
             {
               case 0:
                 this.show1=1;
                 this.show2=0;
                 this.show3=0;
                 this.show4=0;
                 this.show5=0;
                 this.show6=0;
                 this.show7=0;
                 break;
               case 1:
                 this.show1=0;
                 this.show2=1;
                 this.show3=0;
                 this.show4=0;
                 this.show5=0;
                 this.show6=0;
                 this.show7=0;
                 break;
               case 2:
                 this.show1=0;
                 this.show2=0;
                 this.show3=1;
                 this.show4=0;
                 this.show5=0;
                 this.show6=0;
                 this.show7=0;
                 break;
               case 3:
                 this.show1=0;
                 this.show2=0;
                 this.show3=0;
                 this.show4=1;
                 this.show5=0;
                 this.show6=0;
                 this.show7=0;
                 break;
               case 4:
                 this.show1=0;
                 this.show2=0;
                 this.show3=0;
                 this.show4=0;
                 this.show5=1;
                 this.show6=0;
                 this.show7=0;
                 break;
               case 5:
                 this.show1=0;
                 this.show2=0;
                 this.show3=0;
                 this.show4=0;
                 this.show5=0;
                 this.show6=1;
                 this.show7=0;
                 break;
               case 6:
                 this.show1=0;
                 this.show2=0;
                 this.show3=0;
                 this.show4=0;
                 this.show5=0;
                 this.show6=0;
                 this.show7=1;
                 break;
              }
         },
           showImg(){
             this.baoDimg=1;
           },
           closeImg(){
             this.baoDimg=0;
           },
           linkMap(shu){
             window.location.href=this.baodaos[shu].link
           }
      },
      mounted(){
        var aHeight =document.body.scrollHeight;
        document.getElementById("side").style.height=""+aHeight -45+"px";
        document.getElementById("textBody").style.height=""+aHeight -75+"px";
        document.getElementById("title2").style.width=""+window.screen.width-105+"px";
        document.getElementById("textBody").style.width=""+window.screen.width-105+"px";

      }

    })
  </script>

  </html>
